.header__email{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    padding-right: 24px;
}


@media screen and (max-width: 424px) {
    .header__email {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.21;
    }
  
  }